@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

h2.one {
  margin-bottom: -15px;
}

.jumbotron {
  background-color: #456934;
  text-align: center;
  color: #ECF2E9;
}

body {
  background-color: #B4B5B3;
}

.ndb {
  text-align: center;
}

.newform {
  margin-top: 100px;
  color: #456934;
}

.roundss {
  margin-top: 15px;
  margin-bottom: 5px;
}

.minutess {
  margin-top: 15px;
  margin-bottom: 5px;
}

.nd {
  text-align: center;
  margin-bottom: 70px;
}

.teamnames {
  margin-top: 15px;
  margin-bottom: 5px;
}

.buttonn {
  margin-top: 15px;
  text-align: right;
}