<div class="row">
  <div class="col-md-6">
    <div class="draftform">
      <h1>New Draft</h1>
      <form role="form">
      </form>  
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  </div>
</div>