<div class="newform">
  <h1 class="nd">New Draft</h1>
    <div class="formm">
      <h3>Guidelines:</h3>
      <ul>
        <li>Make a name for the draft</li>
        <li>Pick the number of rounds you want</li>
        <li>Choose how long each person has to pick</li>
        <li>Add the number of teams that there are</li>
        <li>Add the names of each team in order of draft pick they have</li>
      </ul>
    </div>
      <div class="draftform">
        <%= render partial: 'form', locals: {draft: @draft} %>
      </div>
    </div>
</div>